@charset "UTF-8";

body {
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "ＭＳ Ｐゴシック","MS PGothic";
  font-weight: 100; 
  text-align: center;
  color: #FFFFFF;
  background-color: #F0F8FF;
}
